<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name"> 
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td  appFontSizeModify [tamano]="'20px'"  mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container> -->

    <!--Full Name Column-->
    <ng-container matColumnDef="fullName"> 
      <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
      <td  appFontSizeModify [tamano]="'20px'"  mat-cell *matCellDef="let user"> {{user.fullName}} </td>
    </ng-container>

    <!-- lastName Column -->
    <!-- <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td appFontSizeModify [tamano]="'20px'"  mat-cell *matCellDef="let user"> {{user.lastName}} </td>
      </ng-container> -->
  
      <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>
  
    
    <!-- actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let user"> 
          <button (click)="onEditUser.emit(user)" mat-flat-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
            <button (click)="deleteUser.emit(user.id)" mat-flat-button color="warn">
                <mat-icon>
                    delete
                </mat-icon> 
            </button>
        </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  