<mat-drawer-container class="example-container" autosize>
  
  <!--SIDEBAR -->
  <mat-drawer style="width: 200px"
  [opened]="showSidebar" 
  #drawer 
  class="example-sidenav" 
  mode="side"
  position="start"
  >
  <app-sidebar></app-sidebar>
  </mat-drawer>
 <!--/SIDEBAR -->
 <!--TOOLBAR-->
  <app-toolbar (toggleSidebar)="showSidebar = !showSidebar"></app-toolbar>
    
  <!--CONTENIDO-->
  <div class="example-sidenav-content">
    <main>
      <app-users></app-users>
    </main>
  </div>
  <!--/CONTENIDO-->
  </mat-drawer-container>
  